.links {
    border: 1px solid var(--stroke-color);
    padding: 14px 32px;
}

ul {
    display: grid;
    list-style: none;
    grid-auto-flow: column
}

nav {
    border: 1px solid;
}

header {
    height: 72px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.right{
    display: flex;
    position: absolute;
    margin: 24px 0px;
    right: 32px;
    gap: 8px;
}

.left{
    display: flex;
    position: absolute;
    margin: 24px 0px;
    left: 32px;
    gap: 8px;
}

header h1 {
    font: var(--h1);
    position: absolute;
    left: 45%;
    order: 1;
    color: var(--brand-color-light);
}